Repository wgzintel/openvino, pull requests merged in 2023-03, with the labels that each got.

#2 fix caching test failure after replacing MULTI with AUTO cumulative throughput mode.
  src/plugins/auto/auto_schedule.cpp
  src/plugins/auto/auto_schedule.hpp
  src/plugins/auto/common.hpp
  src/plugins/auto/plugin.cpp
Labels: category: AUTO

#3 Fix caching test failure
  src/inference/tests/functional/caching_test.cpp
  src/plugins/auto/plugin.cpp
Labels: category: AUTO, category: inference

#4 revert incorrect change for common cases
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/multi/gpu_remote_blob_tests.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/executable_network/exec_network_base.hpp
  src/tests/functional/plugin/shared/src/behavior/plugin/configuration_tests.cpp
Labels: category: CPU, category: GPU, category: IE Tests
